/*nav components*/
.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
    margin: 0;
    padding: 1vw;
}

.reversible-card .back .card-link {
    border-top: solid 1px var(--color-background);
    height: 50px;
    line-height: 50px;
    width: 100%;
    justify-content: space-around;
}
